<%- include('partials/header') -%>

    <h1>Contact Us Page</h1>
    <h2>You can contact me at <code>softwaredevelopershubham@gmail.com</code></h2>
    <p>
        <%= homeContent%>
    </p>

    <%- include('partials/footer') -%>